<!DOCTYPE html>
<html lang="en">

<head>
    <title>Task Detail</title>
</head>

<body>

    <h1>Task Detail: {{ object.title }}</h1>

    <!-- Link Edit & Hapus -->
    <a href="{% url 'task-edit' object.pk %}">Edit Task</a> |
    <a href="{% url 'task-delete' object.pk %}">Delete Task</a>

    <hr>

    <ul>
        <li><strong>Title:</strong> {{ object.title }}</li>
        <li><strong>Description:</strong> {{ object.description }}</li>
        <li><strong>Deadline:</strong> {{ object.deadline }}</li>
        <li><strong>Status:</strong> 
            {% if object.is_pending %}
                Pending
            {% else %}
                Done
            {% endif %}
        </li>
    </ul>

    <hr>
    <h2>Activity Log</h2>

    <ul>
        {% for log in object.logs.all %}
            <li>
                <strong>{{ log.timestamp }}:</strong> {{ log.message }}
            </li>
        {% empty %}
            <li>Belum ada aktivitas untuk task ini.</li>
        {% endfor %}
    </ul>

</body>

</html>
